{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Project</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">COVID-19 <br> Fund Rising</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
        {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Members
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'member' %}">Member</a>
          <a class="dropdown-item" href="{% url 'volunteer' %}">Volunteer</a>
          <a class="dropdown-item" href="{% url 'donor' %}">Donor Information</a>
        </div>
      </li>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Activities List
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'area' %}">Area Info</a>
          <a class="dropdown-item" href="{% url 'donation' %}">Donation info</a>
        </div>
      </li>
        <a class="nav-link" href="{% url 'profile' %}">My profile</a>
            <li class="nav-item">
        <a class="nav-link" href="{% url 'createProfile' %}">Create New Profile</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'password_change' %}">Change password</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
                 <li class="nav-item">
        <a class="nav-link" href="{% url 'email' %}">Email</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'cart' %}">Cart</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Insert
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'insertMember' %}">Insert Member</a>
          <a class="dropdown-item" href="{% url 'insertVolunteer' %}">Inserted Volunteer</a>
          <a class="dropdown-item" href="{% url 'insertDonor' %}">Insert Donor Information</a>
          <a class="dropdown-item" href="{% url 'insertDonation' %}">Insert Donation Information</a>
          <a class="dropdown-item" href="{% url 'insertArea' %}">Insert an Area</a>
          <a class="dropdown-item" href="{% url 'insertRequest' %}">Insert Request</a>
        </div>
      </li>
        {% else %}
          <h3> Stranger!</h3>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'registration' %}">Sign Up</a>
           </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>

        {% endif %}
    </ul>

    <form method="POST" action="{% url 'member' %}">
                {% csrf_token %}
        <label>
            <input  type="search" name="search">
        </label>
        <button  type="submit">Search</button>
    </form>
  </div>
</nav>

<br>

{% block content %}

{% endblock content %}


          <br>

            <script>
                document.write('<a href=" ' + document.referrer + ' ">Go Back</a>');
            </script>
         <br>


		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>


<!-- Footer -->
<div class="p-3 mb-2 bg-dark text-white">
	<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">COVID-19 FUND RISING</h6>
        <p>We want to make better society</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">LEGAL</h6>
        <p>
          <a href="">Terms of Use</a>
        </p>
        <p>
          <a href="">Privacy Policy</a>
        </p>

      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a href="{% url 'profile' %}">Your Account</a>
        </p>
        <p>
            <a href="{% url 'insertMember' %}">Become a Member</a>

        </p>

        <p>
          <a  href="{% url 'insertRequest' %}">Help</a>

        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i> 74/A Green Rd, Dhaka 1205</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>
	          18101047@uap-bd.edu<br>
	          18101043@uap-bd.edu<br>
	       	  18101035@uap-bd.edu</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +8801774233169</p>
        <p>
          <i class="fas fa-print mr-3"></i> +8801864314131</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2020 Copyright:
          <a href="https://mdbootstrap.com/">
            <strong>UAPIAN_CSE-43</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
</div>

<!-- Footer -->
</html>
