{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Display area information here</h2>

<div class="row row-cols-1 row-cols-md-3">

{% for item in all_area %}

<div class="col mb-4">
<div class="card text-white bg-secondary mb-3" style="max-width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Area info:  {{ item.id }}</h5>
        <p class="card-text">
        Volunteer name : {{ item.volunteer_name }}<br>
    	Area Name : {{ item.area_name }}<br>
    	No. of Affected Family : {{ item.no_of_affected_family }}</p>
      </div>
    </div>
  </div>

{%  endfor %}
</div>

{% endblock content %}